button {
  position: relative;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.outbox {
  position: relative;
  width: 120px;
  height: 70px;
  border: 6px solid white;
  box-shadow: 3px 3px 3px #bdbdbd, -1px -1px 1px #bdbdbd;
  border-radius: 40px;
  background-color: #afadad;
  overflow: hidden;
  transition: 1s;
}

.verticalbox {
  position: absolute;
  width: 130px;
  height: 80px;
  top: 0px;
  left: -93px;
  background-color: #afadad;
  transition: 1s;
}
.inner-circle {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset -3px -3px 3px #bdbdbd;
  transition: 1s;
}

.inner-circle.active {
  left: 63px;
}
.verticalbox.moving {
  background-color: slateblue;
  left: 0px;
}
